<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="30">
    <title>RaspPi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css' ) }}" >
<script type="text/javascript" language="JavaScript">
<!--
//--------------------------------
// This code compares two fields in a form and submit it
// if they're the same, or not if they're different.
//--------------------------------
function checkEmail(theForm) {
    if (theForm.email.value != theForm.emailconfirm.value)
    {
        alert('Email addresses don\'t match!');
        return false;
    }

    if (theForm.password.value != theForm.passwordconfirm.value)
    {
        alert('Password\'s don\'t match!');
        return false;
    } else {
        return true;
    }
}
//-->
</script>

</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <img src="{{  url_for('static', filename='images/favicon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">Home control
  </a>
</nav>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>

      <a class="nav-item nav-link" href="{{ url_for('logoff') }}">Logoff</a></a>

    </div>
  </div>
</nav>
<div class="container">
{% block content %}
    {% endblock %}

    <div class="footer"><p class="text-center">&copy; Chris Hawkins 2018</p></div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>