<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="30">
    <title>RaspPi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css' ) }}" >
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RaspPi - Home Automation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>

      <a class="nav-item nav-link" href="{{ url_for('logoff') }}">Logoff</a></a>

    </div>
  </div>
</nav>
<div class="container">
{% block content %}
    {% endblock %}

    <div class="footer"><p class="text-center">&copy; Chris Hawkins 2018</p></div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>