{% extends "layout.html" %}

{% block content %}


    <form class="form-signin" method="post">
    {% if id == 'failed' %}
        <div class="alert alert-warning" role="alert">Login failed</div>
    {% endif %}
    {% if id == 'emailsent' %}
        <div class="alert alert-warning" role="alert">Email sent, please confirm address</div>
    {% endif %}

    {% if id == 'emailchecked' %}
        <div class="alert alert-success" role="alert">Valid email address</div>
    {% endif %}

     <h2 class="form-signin-heading">Sign in</h2>
        <div>
            <label for="email" class="sr-only" >Email address</label>
            <input name="email" type="text" class="form-control" placeholder="Email address" required autofocus />
        </div>
        <div>
            <label for="password" class="sr-only" >Password: </label>
            <input name="password" type="password" class="form-control" placeholder="Password" required />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div>Not registered ? <a href="{{ url_for('register') }}">Register</a> </div>
        <div><a href="{{ url_for('resetpasswordrequest') }}">Reset Password</a></div>
    </form>

{% endblock %}