{% extends "layout.html" %}

{% block content %}


    <form class="form-signin" method="post">
    {% if id == 'failed' %}
        <div class="alert alert-warning" role="alert">Reset failed</div>
    {% endif %}
    {% if id == 'emailsent' %}
        <div class="alert alert-success" role="alert">Password reset sent</div>
    {% endif %}
     <h2 class="form-signin-heading">Reset paasword</h2>
        <div>
            <label for="email" class="sr-only" >Email address</label>
            <input name="email" type="text" class="form-control" placeholder="Email address" required autofocus />
        </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>

    </form>

{% endblock %}